/*
link items
*/
li a {
    padding: 5px;
    margin: 5px;
}
li a:hover{
    background: #dfdfdf;
}
hr{
    width: 97%;
    margin-top: -12px;
    color: black;
}
.background-image{
    background: url("./img/coffee.jpg") no-repeat;
    padding:100px 0;
    background-size:cover;
    height: 300px;
    margin: 10px;
}
.icon{
    height: 50px;
    width: 50px;
}
.parent{
    position: relative;
    margin: 10px;
}
.coffee-img{
    height: 300px;
    width: 100%;
}
form{
    margin: 10px;
}

.bg-img {
    /* The image used */
    background-image: url("./img/coffee.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 10px;
  }
  /* Position the navbar container inside the image */
  .over-img{
    position: absolute;
    top: 5%;
    left: 90%;
    height: 50px;
    width: 50px;
}
.content{
    margin: 10px;
    padding-bottom: 20px;
}
.text-center {
    margin-top: -13px;
}
/* responsive screen size */
@media only screen and (max-width: 600px) {
    img.over-img {
        position: absolute;
        top: 5%;
        left: 80%;
        height: 50px;
        width: 50px;
    }

    hr{
        width: 93%;
        margin-top: -5px;
        color: black;
    }

}